<div class="food-container">
  <button class="add-food">Add Food</button>
  <table class="food-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td>Delete</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
