.recipe-controller {
    font-size: 24px;
  }
  
  .recipe-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 20px; /* Adjust the gap as needed to add space between items. */
  }
  
  .recipe-item {
    border: 2px solid;
    padding: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .recipe-title {
    margin-left: 1%;
  }
  
  .remove-recipe {
    position: absolute;
    bottom: 5%; /* Adjust bottom position as needed. */
    left: 6%; /* Adjust left position as needed. */
  }
  
  .recipe-description {
    margin-left: 30%; /* Adjust left margin as needed. */
  }
  